
<nav class=" bg-[#EBEBEB] min-h-screen">
  <div class=" text-white bg-black h-[86px]  mx-10 ">
    <div class="flex justify-between items-center mx-20 relative top-6">
      <div>
          <img src="/images/logo.png">
          <img src="assets/images/logo.png" >

      </div>

    <div class="flex gap-10">
      <a routerLink="dashboard" 
      routerLinkActive="bg-[#FFF] text-black" 
      [routerLinkActiveOptions]="{ exact: false }" 
      class="hover:bg-gray-200 bg-[#3F3F3F] text-black w-[111px] h-[36px] rounded-[32px] flex items-center justify-center transition-colors duration-300"
      >Dashboard</a>

      <a routerLink="institution" routerLinkActive="bg-[#FFF] text-black" 
      [routerLinkActiveOptions]="{ exact: false }" 
      class="hover:bg-gray-200 bg-[#3F3F3F] text-black w-[111px] h-[36px] rounded-[32px] flex items-center justify-center transition-colors duration-300"
      >Institution</a>

      <a routerLink="transaction" 
      routerLinkActive="bg-[#FFF] text-black" 
      [routerLinkActiveOptions]="{ exact: false }" 
      class="hover:bg-gray-200 bg-[#3F3F3F] text-black w-[111px] h-[36px] rounded-[32px] flex items-center justify-center transition-colors duration-300"
      >Transactions</a>

      <a routerLink="report" 
      routerLinkActive="bg-[#FFF] text-black" 
      [routerLinkActiveOptions]="{ exact: false }" 
      class="hover:bg-gray-200 bg-[#3F3F3F] text-black w-[111px] h-[36px] rounded-[32px] flex items-center justify-center transition-colors duration-300"
      >Report</a>
      <a routerLink="settings" 
      routerLinkActive="bg-[#FFF] text-black" 
      [routerLinkActiveOptions]="{ exact: false }" 
      class="hover:bg-gray-200 bg-[#3F3F3F] text-black w-[111px] h-[36px] rounded-[32px] flex items-center justify-center transition-colors duration-300"
      >Settings</a>
    </div>
     
    <div>
      icon
    </div>
  </div>
</div>

<div >
<router-outlet></router-outlet>
</div>
</nav>