
<nav class=" bg-[#D7D7D7] min-h-screen">
  <div class="flex justify-between text-white bg-black h-[86px] items-center mx-10 ">
      <div>
          ESA
      </div>

    <div class="flex gap-10">
      <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="institution" routerLinkActive="active">Institution</a>
      <a routerLink="transaction" routerLinkActive="active">Transactions</a>
      <a routerLink="report" routerLinkActive="active">Report</a>
      <a routerLink="settings" routerLinkActive="active">Settings</a>
    </div>
     
    <div>
      icon
    </div>
  </div>

<div >
<router-outlet></router-outlet>
</div>
</nav>