<div class="mt-10 lg:mx-20 overflow-x-hidden text-[#353535]">
    <div class="text-[11px] text-[#828282]">
       DASHBOARD/
      <span class="text-[11px] text-black font-bold">
          TRANSACTIONS
      </span>
      </div>
  
      <div class="text-[25px] font-bold mt-6">
          Transactions
        </div>
  
                        <!-- Transaction and search bar section -->
        <div class="mt-5 bg-white">
        <div class="flex items-center justify-between mx-5">
          <div class="">
             <p class="text-[18px] font-bold">Transactions</p> 
              <small class="text-[#828282] relative top-[-7px]">View all recent transaction</small>
          </div>
  
          <div class="flex gap-2">
              <input 
              type="text"
              [(ngModel)]="searchTerm" 
              placeholder="Search by name" 
              class="bg-[#EBEBEB] text-[#828282] border rounded-lg h-[33px] w-[271px] px-3 text-[13px] "
               
              />
              <button class="bg-[#4393FF30] h-[33px] w-[113px] text-[13px] rounded-lg border-2 border-[#4393FF] hover:bg-[#7fb1e3]" (click)="exportTableToCSV()">Export Data<span class="export__icon">icon</span></button>
              <button  class="bg-[#4393FF30] h-[33px] w-[79px] text-[13px] rounded-lg border-2 border-[#4393FF] hover:bg-[#7fb1e3]">Filter<span class="filter__icon">icon</span></button>
          </div>
        </div>
    </div>
  
                         <!-- Table section -->
        <div class="mb-10">
        <div class="overflow-x-auto">
          <table class="min-w-full table-auto text-[#353535]" id="Data">
            <thead class="h-[42px] bg-gray-100 text-left">
              <tr>
                <th class="px-2 lg:px-5">Sender</th>
                <th class="px-2 lg:px-0">Amount</th>
                <th class="px-2 lg:px-0">DL Code</th>
                <th class="px-2 lg:px-0">Provider ID</th>
                <th class="px-2 lg:px-0">Source</th>
                <th class="px-2 lg:px-0">Source acc.</th>
                <th class="px-2 lg:px-0">Recipient</th>
                <th class="px-2 lg:px-0">Destination</th>
                <th class="px-2 lg:px-0">Dest acc.</th>
                <th class="px-2 lg:px-0">Date & Time</th>
                <th class="px-2 lg:px-0">Status</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr class="border-b border-gray-200" *ngFor="let item of mappedData, let data of filteredData()">
                <td class="px-2 lg:px-5">{{ item.Sender }}</td>
                <td class="px-2 lg:px-0">{{ item.Amount }}</td>
                <td class="px-2 lg:px-0">{{ item.DLCode }}</td>
                <td class="px-2 lg:px-0">{{ item.ProviderID }}</td>
                <td class="px-2 lg:px-0">{{ item.Source }}</td>
                <td class="px-2 lg:px-0">{{ item.Sourceacc }}</td>
                <td class="px-2 lg:px-0">{{ item.Recipient }}</td>
                <td class="px-2 lg:px-0">{{ item.Destination }}</td>
                <td class="px-2 lg:px-0">{{ item.Destacc }}</td>
                <td class="px-2 lg:px-0">{{ item.DateTime }}</td>
                <td class="px-2 lg:px-0">

                  <div 
                  class="text-[12px] font-semibold rounded-[2px] inline-block text-center"
                  [ngClass]="{
                    'bg-[#1CCAB824] text-[#109688] w-[62px] h-[22px]': item.status === 'Verified',
                    'bg-[#FF874324] text-[#F37833] w-[75px] h-[22px]': item.status === 'Unverified',
                    'bg-gray-500 w-[75px] h-[22px]': item.status !== 'Verified' && item.status !== 'Unverified'
                  }"
                >{{ item.status }}</div></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
        
  
  </div>
  
  
  
  